<%- include("code/header")%>
<%- include("code/nav")%>

<link rel="stylesheet" href="/stylesheets/product.css">

<% if(product.length === 0){ %>
    <h1 class="noproduct"> <span>! OOPS</span> <br> no product avalable</h1>
<%}%>

    <div class="product">
       
    <% product.forEach(function(p){ %>

        <a href="/productdetails/<%= p._id%>">


            <div class="product-box">
                <div class="product-box-img"><img src="<%= p.imglink1%>" alt=""></div>
                <div class="product-box-name">
                    <h3><%= p.productname%></h3>

                </div>
                <h2>₹ <%= p.productprice%> <span>onwards</span></h2>
                <h5>₹ <%= p.deliverycharges%> delevery charges</h5>
                <h5> <span> <%= p.rating%> <i class="ri-star-s-fill"></i> </span> reviews</h5>
            </div>
            


        </a>

    <% })%>
            
    </div>
    <%- include("code/pagesfooter")%>

<%- include("code/footer")%>